services:
  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.4.4
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka1:
    container_name: kafka1
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka1:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  kafka2:
    container_name: kafka2
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - zookeeper
    ports:
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29093,EXTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka2:29093,EXTERNAL://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  kafka3:
    container_name: kafka3
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - zookeeper
    ports:
      - "9094:9094"
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29094,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka3:29094,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  kafka-init:
    container_name: kafka-init
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    entrypoint: [
      "sh", "-c",
      "sleep 10 && \
         kafka-topics --create --if-not-exists --bootstrap-server kafka1:29092,kafka2:29093,kafka3:29094 --replication-factor 3 --partitions 3 --topic dance_cup_events && \
         kafka-topics --create --if-not-exists --bootstrap-server kafka1:29092,kafka2:29093,kafka3:29094 --replication-factor 3 --partitions 12 --topic dance_cup_logs"
    ]

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    ports:
      - 8080:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: dev
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka1:29092,kafka2:29093,kafka3:29094
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      KAFKA_CLUSTERS_0_READONLY: "false"
      
  clickhouse:
    container_name: clickhouse
    image: clickhouse/clickhouse-server:24.3
    ports:
      - "8123:8123"
      - "9010:9000"
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: secret
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ./clickhouse/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - 16379:6379

  dance-cup-api-db:
    container_name: dance-cup-api-db
    image: postgres
    ports:
      - 15432:5432
    environment:
      POSTGRES_USER: postgres-user
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dance-cup-api
      PGDATA: /data/postgres
    command: -c log_statement=all
    volumes:
      - dance-cup-api-db-volume:/data/postgres

  dance-cup-auth-db:
    container_name: dance-cup-auth-db
    image: postgres
    ports:
      - 25432:5432
    environment:
      POSTGRES_USER: postgres-user
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dance-cup-auth
      PGDATA: /data/postgres
    command: -c log_statement=all
    volumes:
      - dance-cup-auth-db-volume:/data/postgres
        
  object-storage:
    image: minio/minio:latest
    container_name: object-storage
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

  object-storage-init:
    image: minio/mc:latest
    depends_on:
      - object-storage
    entrypoint: >
      /bin/sh -c "
      until mc alias set local http://object-storage:9000 admin admin123; do sleep 2; done;
      mc mb --ignore-existing local/tournament-attachments;
      exit 0;
      "
  
  dance-cup-api-migrate:
    container_name: dance-cup-api-migrate
    build:
      context: ./../dance-cup-api
      dockerfile: ./Dockerfile
    depends_on:
      - dance-cup-api-db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80;http://+:81
      StorageOptions__ConnectionString: "Host=dance-cup-api-db; Port=5432; Database=dance-cup-api; Username=postgres-user; Password=postgres;"
      ObjectStorage__ServiceURL: "http://object-storage:9000"
      ObjectStorage__AccessKey: "admin"
      ObjectStorage__SecretKey: "admin123"
      CachingOptions__ConnectionString: "redis:6379"
      CachingOptions__ExpirationMinutes: 60
      KafkaOptions__BootstrapServers: "kafka1:29092,kafka2:29093,kafka3:29094"
      KafkaOptions__Topics__DanceCupEvents__Name: "dance_cup_events"
      KafkaOptions__Topics__DanceCupEvents__ConsumerGroup: "dance-cup-api"
      KafkaOptions__Topics__DanceCupLogs__Name: "dance_cup_logs"
    entrypoint: [ "sh", "-c", "sleep 15 && dotnet ECC.DanceCup.Api.dll --migrate"]
  
  dance-cup-api:
    container_name: dance-cup-api
    build:
      context: ./../dance-cup-api
      dockerfile: ./Dockerfile
    depends_on:
      - kafka-init
      - dance-cup-api-migrate
      - object-storage-init
    ports:
      - 81:80
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80;http://+:81
      StorageOptions__ConnectionString: "Host=dance-cup-api-db; Port=5432; Database=dance-cup-api; Username=postgres-user; Password=postgres;"
      ObjectStorage__ServiceURL: "http://object-storage:9000"
      ObjectStorage__AccessKey: "admin"
      ObjectStorage__SecretKey: "admin123"
      CachingOptions__ConnectionString: "redis:6379"
      CachingOptions__ExpirationMinutes: 60
      KafkaOptions__BootstrapServers: "kafka1:29092,kafka2:29093,kafka3:29094"
      KafkaOptions__Topics__DanceCupEvents__Name: "dance_cup_events"
      KafkaOptions__Topics__DanceCupEvents__ConsumerGroup: "dance-cup-api"
      KafkaOptions__Topics__DanceCupLogs__Name: "dance_cup_logs"
      
  dance-cup-api-2:
    container_name: dance-cup-api-2
    build:
      context: ./../dance-cup-api
      dockerfile: ./Dockerfile
    depends_on:
      - kafka-init
      - dance-cup-api-migrate
      - object-storage-init
    ports:
      - 812:80
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80;http://+:81
      StorageOptions__ConnectionString: "Host=dance-cup-api-db; Port=5432; Database=dance-cup-api; Username=postgres-user; Password=postgres;"
      ObjectStorage__ServiceURL: "http://object-storage:9000"
      ObjectStorage__AccessKey: "admin"
      ObjectStorage__SecretKey: "admin123"
      CachingOptions__ConnectionString: "redis:6379"
      CachingOptions__ExpirationMinutes: 60
      KafkaOptions__BootstrapServers: "kafka1:29092,kafka2:29093,kafka3:29094"
      KafkaOptions__Topics__DanceCupEvents__Name: "dance_cup_events"
      KafkaOptions__Topics__DanceCupEvents__ConsumerGroup: "dance-cup-api"
      KafkaOptions__Topics__DanceCupLogs__Name: "dance_cup_logs"
      
  dance-cup-api-3:
    container_name: dance-cup-api-3
    build:
      context: ./../dance-cup-api
      dockerfile: ./Dockerfile
    depends_on:
      - kafka-init
      - dance-cup-api-migrate
      - object-storage-init
    ports:
      - 813:80
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80;http://+:81
      StorageOptions__ConnectionString: "Host=dance-cup-api-db; Port=5432; Database=dance-cup-api; Username=postgres-user; Password=postgres;"
      ObjectStorage__ServiceURL: "http://object-storage:9000"
      ObjectStorage__AccessKey: "admin"
      ObjectStorage__SecretKey: "admin123"      
      CachingOptions__ConnectionString: "redis:6379"
      CachingOptions__ExpirationMinutes: 60
      KafkaOptions__BootstrapServers: "kafka1:29092,kafka2:29093,kafka3:29094"
      KafkaOptions__Topics__DanceCupEvents__Name: "dance_cup_events"
      KafkaOptions__Topics__DanceCupEvents__ConsumerGroup: "dance-cup-api"
      KafkaOptions__Topics__DanceCupLogs__Name: "dance_cup_logs"

  dance-cup-auth-migrate:
    container_name: dance-cup-auth-migrate
    build:
      context: ./../dance-cup-auth
      dockerfile: ./Dockerfile
    depends_on:
      - dance-cup-auth-db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80;http://+:81
      StorageOptions__ConnectionString: "Host=dance-cup-auth-db; Port=5432; Database=dance-cup-auth; Username=postgres-user; Password=postgres;"
      SecurityOptions__Secret: "cfa4a6f7-8d5d-4c61-aec9-0791d743dbb9_d2f60f8e-1d61-4c4a-92a5-4f9a90745691"
      SecurityOptions__Audience: "dance-cup-audience"
      SecurityOptions__Issuer: "dance-cup-issuer"
      SecurityOptions__TokenExpiresMinutes: 60
      KafkaOptions__BootstrapServers: "kafka1:29092,kafka2:29093,kafka3:29094"
      KafkaOptions__Topics__DanceCupEvents__Name: "dance_cup_events"
      KafkaOptions__Topics__DanceCupLogs__Name: "dance_cup_logs"
    entrypoint: [ "sh", "-c", "sleep 15 && dotnet ECC.DanceCup.Auth.dll --migrate"]
  
  dance-cup-auth:
    container_name: dance-cup-auth
    build:
      context: ./../dance-cup-auth
      dockerfile: ./Dockerfile
    depends_on:
      - kafka-init
      - dance-cup-auth-migrate
    ports:
      - 82:80
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80;http://+:81
      StorageOptions__ConnectionString: "Host=dance-cup-auth-db; Port=5432; Database=dance-cup-auth; Username=postgres-user; Password=postgres;"
      SecurityOptions__Secret: "cfa4a6f7-8d5d-4c61-aec9-0791d743dbb9_d2f60f8e-1d61-4c4a-92a5-4f9a90745691"
      SecurityOptions__Audience: "dance-cup-audience"
      SecurityOptions__Issuer: "dance-cup-issuer"
      SecurityOptions__TokenExpiresMinutes: 60
      KafkaOptions__BootstrapServers: "kafka1:29092,kafka2:29093,kafka3:29094"
      KafkaOptions__Topics__DanceCupEvents__Name: "dance_cup_events"
      KafkaOptions__Topics__DanceCupLogs__Name: "dance_cup_logs"
      
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command: "--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - grafana-data:/var/lib/grafana

volumes:
  dance-cup-api-db-volume:
  dance-cup-auth-db-volume:
  minio-data:
  clickhouse-data:
  prometheus-data:
  grafana-data: