<div class="container-fluid">
    <h1>Создать рефери</h1>
    <form asp-action="CreateReferee" method="post">
        <div class="form-group">
            <label for="refereeName">Полное имя рефери</label>
            <input type="text" id="refereeName" name="refereeName" class="form-control" required />
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Сохранить</button>
    </form>
</div>